html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "Patua One", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

img {
  width: 100%;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

nav ol {
  list-style-type: none;
}

nav a:hover {
  color: #3f1622;
  text-decoration: none;
}
